/*
 * Additional print styles copy, modify and augment
 * Styles from 'bootstrap/print.less'.
 */
@media print {
    // Keep print view from falling back to xs viewport
    body {
        margin: 0;
        padding: 0 !important;
        min-width: 768px;
    }
    .container {
        width: auto;
        min-width: 750px;
    }
    // Always use md grid classes in print
    .make-grid(md);
    // don't print background image when backstretch is used
    .backstretch{
        display: none;
    }
    // don't print link urls
    a[href]:after {
        content: "";
    }
    // hide all video content
    video, .youtubeBlock {
        display: none;
    }
    // gallery slider - dont reserve the same amount of space as on the desktop
    .bx-slider{
        .bx-wrapper {
            img { margin: 0; }
            .bx-viewport {
                max-height: 308px !important;
            }
            .bx-caption {
                bottom: -15% !important;
                span { padding: 0 !important; }
            }
        }
    }
    /* Avoid unreadable map footer */
    .googleAdvancedMapCanvas > div > div > div:nth-last-child(3) {
        display: none !important;
    }
    // hide all kinds of paginations on print
    .ccm-pagination-wrapper {
        display: none;
    }
    // dont detach affix from top on print when used
    .affix {
        display: none;
    }
    // never print the c5 toolbar
    #ccm-toolbar{
        display: none;
    }
}
