/*
 * A few changes to the c5 redactor Editor
 */
#redactor-dropdown-holder {
    .dropdown-menu.redactor-dropdown {
        > .redactor-formatting-blockquote,
        > .redactor-formatting-pre,
        > .redactor-formatting-h4,
        > .redactor-formatting-h5,
        > .redactor-formatting-h6,
        .redactor-dropdown-page_name,
        .redactor-dropdown-user_name {
            display: none;
        }
    }
}

/*
 * If redactor is used in c5 overlays (Rich Text Field Editing) - We want it to show links in a neutral color
 */
.ccm-ui .redactor-editor {
    a[href] {
        color: @text-color;
        text-decoration: underline;
    }
}