
.redactor-editor table {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    empty-cells: show;
}
.redactor-editor table caption {
    text-transform: uppercase;
    padding: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
}
.redactor-editor table th,
.redactor-editor table td {
    border: 1px solid #eee;
    padding: 16px;
    padding-bottom: 15px;
}
.redactor-editor table tfoot th,
.redactor-editor table tfoot td {
    color: rgba(0, 0, 0, 0.5);
}