/*--------------------------------------------------------------*\
    Buttons
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
//## For each of Bootstrap's buttons, define text, background and border color.
@btn-font-weight:                normal;

@btn-default-color:              @brand-primary;
@btn-default-bg:                 #fff;
@btn-default-border:             @brand-primary;

@btn-primary-color:              #fff;
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             transparent;

@btn-success-color:              #fff;
@btn-success-bg:                 @brand-success;
@btn-success-border:             transparent;

@btn-info-color:                 #fff;
@btn-info-bg:                    @brand-info;
@btn-info-border:                transparent;

@btn-warning-color:              #fff;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             transparent;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              transparent;

@btn-link-disabled-color:        lighten(@brand-primary, 70%);

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;


//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/buttons.less";
@import "../../bootstrap/button-groups.less";

//== Custom CSS
.ccm-page .btn {
    .transition(all 150ms ease);
    // dont overflow and use ellipsis when content to long
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    &.btn-default{
        &:hover, &:active, &:focus {
          background-color: transparent;
          color: darken(@btn-default-color,20%);
          border-color: darken(@btn-default-color,20%);
        }
    }
    &:focus {
        outline: none;
        border-color: transparent;
    }
    &:active {
        box-shadow: none;
    }
    &.btn-more{
        background-color: transparent;
        padding: 7px 0 2px 0;
        border-bottom: 2px solid @btn-default-color;
        &:hover, &:active, &:focus {
            padding: 7px 0 2px 0;
            color: darken(@btn-default-color,35%);
            border-bottom: 2px solid darken(@btn-default-color,20%);
        }
    }
}

// Work around c5 Bug - Prevent Publish button from flashing wrong focus color
.ccm-ui .btn-primary{
  &:focus, &:active{
    background-color: #337ab7;
    border-color: #337ab7;
  }
}
