/*--------------------------------------------------------------*\
    Close
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
@close-font-weight:           bold;
@close-color:                 @gray-base;
@close-text-shadow:           0 1px 0 #fff;

//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/close.less";

//== Custom CSS
.ccm-page button.close{

}