/*--------------------------------------------------------------*\
    Code
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
@code-color:                  @brand-secondary;
@code-bg:                     @gray-lighter;

@kbd-color:                   #fff;
@kbd-bg:                      @gray-darker;

@pre-bg:                      @gray-lighter;
@pre-color:                   @gray-darker;
@pre-border-color:            @gray-light;
@pre-scrollable-max-height:   340px;


//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/code.less";

//== Custom CSS
.ccm-page code{

}