/*--------------------------------------------------------------*\
    Colors
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
@brand-primary:         #6BC6C3;
@brand-secondary:       #D5C7BC;
@brand-success:         #5cb85c;
@brand-info:            @gray;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

@gray-base:              darken(@gray, 60%);
@gray-darker:            darken(@gray, 30%);
@gray-dark:              darken(@gray, 15%);
@gray:                   hsl(hue(@brand-primary),15%,50%);
@gray-light:             lighten(@gray, 25%);
@gray-lighter:           lighten(@gray, 42.5%);;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #fff;
//** Global text color on `<body>`.
@text-color:            #555555;

//** Global textual link color.
@link-color:            @text-color;
//** Link hover color set via `darken()` function.
@link-hover-color:      @brand-primary;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    @brand-primary;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       #FFF;

//== Type
//
//##

//** Text muted color
@text-muted:                  @gray;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @gray-light;
//** Blockquote small color
@blockquote-small-color:      @gray-light;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.2);
//** Blockquote border color
@blockquote-border-color:     @gray-lighter;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
@dl-horizontal-breakpoint:    @grid-float-breakpoint;
//** Horizontal line color.
@hr-border:                   @brand-primary;
//** Background Color of highlighted/marked text.
@highlighted-text-color:     tint(@brand-primary, 70%);

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             @brand-success;
@state-success-bg:               lighten(@brand-success, 42.5%);
@state-success-border:           @brand-success;

@state-info-text:                @brand-info;
@state-info-bg:                  lighten(@brand-info, 45%);
@state-info-border:              @brand-info;

@state-warning-text:             @brand-warning;
@state-warning-bg:               lighten(@brand-warning, 35%);
@state-warning-border:           @brand-warning;

@state-danger-text:              @brand-danger;
@state-danger-bg:                lighten(@brand-danger, 40%);
@state-danger-border:            @brand-danger;

//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/scaffolding.less";
@import "../../bootstrap/type.less";

//== Custom CSS

.ccm-page {
  // Styles for the Mockup Page
  .color-swatches {
    margin: 0 -5px;
    overflow: hidden
  }
  .color-swatch{
    &.brand-primary { background-color: @brand-primary; }
    &.brand-secondary { background-color: @brand-secondary; }
    &.brand-success { background-color: @brand-success; }
    &.brand-info { background-color: @brand-info; }
    &.brand-warning { background-color: @brand-warning; }
    &.brand-danger { background-color: @brand-danger; }
    &.gray-base { background-color: @gray-base; }
    &.gray-darker { background-color: @gray-darker; }
    &.gray-dark { background-color: @gray-dark; }
    &.gray { background-color: @gray; }
    &.gray-light { background-color: @gray-light; }
    &.gray-lighter { background-color: @gray-lighter; }
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 5px;
    border-radius: 3px;
    @media (min-width: 768px) {
      width:100px;
      height:100px;
    }
  }
}
