// basic form-Layout for User-Control-Panel
// form table top
div.ui-dialog .ui-dialog-titlebar {
    padding: 15px 0px 15px 15px;
    font-size: 24px;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    background-image: none;
    border-bottom: 0px;
    background: #0B4C5F;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

// close button
div.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    height: 20px;
    width: 20px;
    margin: 0px;
    background: transparent url(../../../images/icons/icon_close.png) no-repeat scroll;
    right: 11px;
    top: 19px;
    padding: 0px 15px;
    background-size: 20px 20px;
}


// form info button
div.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-help {
    right: 50px;
    height: 30px;
    width: 30px;
    top: 14px;
    margin: 0px;
    padding: 0px;
    font-size: 28px;
}


// abbrechen button
div.ui-dialog .ui-dialog-buttonpane .btn-default {
    border-color: #3f9edc;
    background-color: #3f9edc;
    color: #fff;
    transition: 0.4s ease;
}

// -> abbrechen button hover
div.ui-dialog .ui-dialog-buttonpane .btn-default:hover {
    background-color: #DF3A01;
}

// speichern button
div.ui-dialog .ui-dialog-buttonpane .btn-primary {
    border-color: #2076af;
    background-color: #2076af;
    transition: 0.4s ease;
    border: none;
}

// -> speichern button hover
div.ui-dialog .ui-dialog-buttonpane .btn-primary:hover {
    background-color: #31B404;
    border-color: inherit;
}

// full form box
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
