/*--------------------------------------------------------------*\
    Containers
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
@padding-base-vertical:     7px;
@padding-base-horizontal:   10px;

@padding-large-vertical:    12px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  7px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.5; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.3333333;

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

//== Custom Variables
@margin-base: 2rem;

//== Custom CSS
html {
    // Set the base font size to the HTML tag to make sure the browsers calculate
    // correct values with the rem unit.
    font-size: @font-size-base-xs;
    @media (min-width: @screen-sm-min) {
        font-size: @font-size-base;
    }
    &.scroll-lock {
        &, body {
            height: 100%;
            overflow-y: hidden;
        }
    }
}

.ccm-page {
    // Set unifyed margins on all commonly used block types
    .ccm-content-block,
    .ccm-block-page-list-wrapper,
    .bx-slider,
    .ccm-block-share-this-page,
    .ccm-search-block-form,
    .ccm-image-block,
    .ccm-block-file,
    .ccm-block-feature-item,
    .ccm-block-type-form,
    .googleAdvancedMapCanvas,
    .youtubeBlock,
    .ccm-video-block,
    .ccm-block-express-form {
        margin-bottom: 30px;
    }
}
