/*--------------------------------------------------------------*\
    Icons
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
//## Specify custom location and filename of the included Glyphicons icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
@icon-font-path:          "";
//** File name for all font files.
@icon-font-name:          "";
//** Element ID within SVG icon file.
@icon-font-svg-id:        "";

//** Width of the `border` for generating carets that indicate dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;

//== Custom CSS
.ccm-page .fa {

}
