/*--------------------------------------------------------------*\
    Inputs
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
//** Text color for `<input>`s
@input-color:                    @text-color;
//** `<input>` border color
@input-border:                   @gray-light;
@input-border-error:             @brand-danger;
//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;
@input-bg-error:                 lighten(@brand-danger, 30%);
//** `.form-group` margin
@form-group-margin-bottom:       2rem; // must be important or it will be overriden by c5 form block

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            0px;
//** Large `.form-control` border radius
@input-border-radius-large:      0px;
//** Small `.form-control` border radius
@input-border-radius-small:      0px;

//** Border color for inputs on focus
@input-border-focus:             lighten(@text-color, 50%);

//** Placeholder text color
@input-color-placeholder:        lighten(@text-color, 40%);

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//== Include Bootstrap dependencies
@import "../../bootstrap/forms.less";
@import "../../bootstrap/input-groups.less";

//== Custom CSS
.ccm-page {
    // override some jquery UI styles to unify the look of input elements
    input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {
    }
    input[type=radio], input[type=checkbox] {
    }
    // remove the spinner on number fields
    input[type="number"] {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .ccm-item-selector a[data-page-selector-link="choose"] {
        border: none !important;
        padding-bottom: 0 !important;
    }

    .radio, .checkbox {
        label {
            padding-left: 1em;
            input[type="radio"] input[type="checkbox"] {
                margin-left: -1em;
                margin-top: 0.4rem;
            }
        }
    }


    // default form labels
    .form-group {
        margin-bottom: @form-group-margin-bottom !important;//must be important to override form block styles
        input[type="file"] {
            height: auto;
        }
        .control-label {
            color: @brand-primary;
            font-weight: normal !important;
        }
        // Prevent Input group button from ellipsising
        .input-group-btn:last-child>.btn {
            max-width: none;
        }
        &.has-error {
            input, textarea, select {
                border-color: @input-border-error;
                border-width: 2px;
                background-color: @input-bg-error;
            }
            .radio > label, .checkbox > label {
                color: @text-color;
            }
            .control-label {
                color: @brand-danger;
                font-weight: bold !important;
            }
        }
    }
    // change the default select element
    select{
        background: url(../../../images/select_icon.png) no-repeat;
        background-color: @body-bg;
        background-position: right 10px top 50%;
        background-size: 18px;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 40px;
    }
    // Apply Theme primary color to rating starts
    .ccm-rating .fa-star, .ccm-rating .fa-star-half-o {
        color: @brand-primary;
    }
    // fix some layout issues with the date-time picker fields of the form block
    .ccm-block-type-form{
        .field-datetime{
            .ccm-input-time-wrapper{
                margin-left: 15px;
                select {
                    min-width: 70px;
                    width: 70px !important;
                }
            }
            @media(max-width: @screen-sm-max){
                .form-control {
                    width: auto;
                    display: inline-block;
                }
            }
            @media(max-width: @screen-xs-max){
                .ccm-input-date-wrapper {
                    .form-control {
                        width: 120px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    // Fix ellipsis issue in input groups
    .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
        margin-right: 1px;
    }
}
