/*--------------------------------------------------------------*\
    Tables
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            6px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               @gray-lighter;
//** Background color used for `.table-hover`.
@table-bg-hover:                @gray-lighter;
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            @brand-primary;


//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/tables.less";

//== Custom CSS
.ccm-page {
    .table-responsive {
        border: 0;
    }
    .table {
        border-bottom: solid 1px @brand-primary;
        > thead > tr > td {
            border-top: 0;
            border-bottom: solid 1px @brand-primary;
            font-weight: bold;
        }
        @media screen and (max-width: @screen-xs-max) {
            border: 0;
        }
    }
}
