/*--------------------------------------------------------------*\
    Typography
\*--------------------------------------------------------------*/

//== Bootstrap Variables
@font-family-sans-serif:  "Roboto", "Helvetica", Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;

                          /* The following 2 definitions are set to the HTML tag under atoms/containers.less. */
@font-size-base:          18px;   // > XS devices
@font-size-base-xs:       16px;   // XS devices
                          /* To use rem, the HTML tag needs the desired font size. */
@font-size-base-rem:      1rem; // Custom variable for responsive typography

@font-size-h1:            (@font-size-base-rem * 2.25);
@font-size-h2:            (@font-size-base-rem * 1.75);
@font-size-h3:            (@font-size-base-rem * 1.25);
@font-size-h4:            @font-size-base-rem;
@font-size-h5:            @font-size-base-rem;
@font-size-h6:            @font-size-base-rem;

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.45;

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base));

//** By default, this inherits from the `<body>`.
@headings-font-family:    inherit;
@headings-font-weight:    normal;
@headings-line-height:    1.25;
@headings-color:          darken(@brand-primary, 10%);

//** Link hover decoration.
@link-hover-decoration: none;


//== Custom CSS

.ccm-page, .ui-dialog .cke {
    font-size: @font-size-base-rem;
    div > h1:first-child,
    div > h2:first-child,
    div > h3:first-child,
    div > h4:first-child,
    div > h5:first-child,
    div > h6:first-child {
        margin-top: 0;
    }
    h1, .h1 {
        margin-bottom: 5px;
    }
    h2, .h2 {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    h3, .h3 {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    h3,h4,h5,h6, .h3 .h4 .h5 .h6 {
        margin-top: 30px;
        margin-bottom: 5px;
        color: @headings-color;
    }
    .lead {
        font-family: @headings-font-family;
        color: darken(@brand-primary, 35%);
        font-size: (@font-size-base-rem * 1.25);
        font-weight: normal;
        display: inline-block;
        margin: 0 0 15px 30px;
        a {
            color: darken(@brand-primary, 35%);
            &:hover {
                color: darken(@brand-primary, 50%);
            }
        }
    }
    hr {
        border-top: 1px solid @gray-light;
        margin: 3rem 0;
    }
    .ccm-content-block,
    .ccm-block-file,
    .redactor-box,
    .cke_editable {
        a[href]:not(.btn) {
            border-bottom: 1px solid currentColor;
            padding-bottom: 1px;
            .transition(all 150ms ease);
        }
        ul {
            padding-left: 2rem;
            margin-left: 0.3rem;
            line-height: @line-height-base;
            list-style: none;
            li {
                margin: 1.25rem 0;
                padding-left: 0;
                position: relative;
                &:before {
                    display: inline-block;
                    position: absolute;
                    content: "";
                    width: 7px;
                    height: 7px;
                    left: -1.7rem;
                    top: 0.85rem;
                    border-radius: 3px;
                    background-color: @brand-primary;
                }
            }
        }
        ol {
            padding-left: 2.5ch;
            line-height: @line-height-base;
            list-style: none;
            counter-reset: item;
            li {
                margin: 1.25rem 0;
                padding-left: 0;
                counter-increment: item;
                &:before {
                    display: inline-block;
                    position: relative;
                    color: @brand-primary;
                    font-weight: bold;
                }
            }
        }
        ol > li {
            counter-increment: item;
        }
        ol ol > li {
            display: block;
        }
        ol > li:before {
            content: counter(item) ". ";
            margin-right: -1.5ch;
            left: -2.5ch;
        }
        ol ol {
            padding-left: 2ch;
        }
        ol ol > li:before {
            content: counters(item, ".") ". ";
            margin-right: -3ch;
            left: -4.5ch;
        }
        ol ol ol {
            padding-left: 1.5ch;
        }
        ol ol ol > li:before {
            margin-right: -4.5ch;
            left: -6ch;
        }
    }
    small, .small {
        font-size: 0.85em;
    }
    mark, .mark {
        background-color: @highlighted-text-color;
    }
}

//** Font smothing
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
