
//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   20px;
@breadcrumb-padding-horizontal: 0;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
//** Breadcrumb text color
@breadcrumb-color:              @gray-lighter;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @gray-light;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";

//== Include Bootstrap dependencies
@import "../../bootstrap/breadcrumbs.less";
