
//== Datepicker
//
//##

// Default styling comes from jQuery UI which is in a separate css asset, we only override some stuff
// here

.ui-datepicker{
  td {
    .ui-state-active, .ui-state-highlight, .ui-state-hover {
      border-radius: @border-radius-base !important;
    }
    .ui-state-highlight, .ui-state-hover {
      background: @brand-primary !important;
      background-color: @brand-primary !important;
      border-color: @brand-primary !important;
    }
  }
}