.ccm-page {
    #footer {
        padding-top: (@margin-base*1.5);
        padding-bottom: (@margin-base*3);
        background-color: @gray-lighter;
    }
    .footer-right .ccm-content-block {
        border-left: 1px solid @gray;
        padding-left: 15px;
    }
}
