.ccm-page {
    .ccm-image-block {
        position: relative;
        .image-block-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            padding: 1.5rem;
            .transition(opacity 300ms ease);
            background-color: rgba(0,0,0,0.5);
            p {
                color: #FFF;
            }
        }
        &:hover {
            .image-block-overlay {
                opacity: 1;
            }
        }
    }
    .full-width-image {
        padding-top: 50%; // 2:1
        @media screen and (min-width: @screen-sm-min) {
            padding-top: 40%; // 5:2
        }
        @media screen and (min-width: @screen-md-min) {
            padding-top: 33.3%; // 3:1
        }
        @media screen and (min-width: @screen-lg-min) {
            padding-top: 0;
            padding-top: 33.3vh
        }
    }
}
