.ccm-page {
    .gm-style {
        font-family: inherit;
        > div:first-of-type {
            > div:last-of-type {
                > div:first-of-type {
                    > div:last-of-type {
                        /* Markers Container - prevent glitches due to CSS classes added by javascript
                         * by adding the styles directly after the elements are added to the DOM.
                         */
                        margin-top: 26px;
                    }
                }
            }
        }
        .iw-box {
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
            .iw-bg {
                .iw-shadow, .iw-shape {
                    display: none;
                }
                .iw-shadow + div {
                    margin-top: 4px;
                }
                .iw-tail {
                    z-index: 1;
                    &:first-of-type {
                        :first-child {
                            transform: skewX(45deg) !important;
                        }
                    }
                    &:last-of-type {
                        :first-child {
                            transform: skewX(-45deg) !important;
                        }
                    }
                }
            }
            .iw-close {
                top: 5px !important;
                right: 5px !important;
            }
            .gm-style-iw {
                :first-child {
                    margin-top: 0;
                }
                :last-child {
                    margin-bottom: 3px;
                }
            }
        }
    }
}
