
//== Navbar
//
//##

// Basic c5 definitions
@ccm-toolbar-height:               48px;

// Basics of a navbar
@navbar-height:                    60px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       calc(~"100% - 50px") !important;

@navbar-default-color:             #fff;
@navbar-default-bg:                #fff;
@navbar-open-bg:                   @brand-primary;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);
@navbar-link-font-size:            1.2rem;
@navbar-link-font-size-xs:         1.4rem;
@navbar-link-font-size-children:   0.85em;
@zindex-navbar-fixed:              1030;

// Navbar links
@navbar-default-link-bg:                   transparent;
@navbar-default-link-color:                @link-color;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-hover-color:          @link-hover-color;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-active-color:         @brand-primary;
@navbar-default-link-disabled-bg:          transparent;
@navbar-default-link-disabled-color:       @gray-light;

// Navbar brand label
@navbar-default-brand-bg:                  transparent;
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-bg:            transparent;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);

// Navbar toggle
@navbar-default-toggle-border-color:       transparent;
@navbar-default-toggle-hover-bg:           transparent;
@navbar-default-toggle-icon-bar-bg:        @brand-primary;


//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);
@navbar-inverse-color:                      lighten(@gray-light, 15%);

// Inverted navbar links
@navbar-inverse-link-bg:                    transparent;
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             transparent;
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-bg:                   transparent;
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-bg:             transparent;
@navbar-inverse-brand-hover-color:          #fff;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #333;

//=== Shared nav styles
@nav-link-padding:                          1rem 1.5rem;
@nav-link-hover-bg:                         transparent;



//== Include Bootstrap dependencies
@import "../../bootstrap/navs.less";
@import "../../bootstrap/navbar.less";


//== Custom CSS
.ccm-page .navbar.navbar-collapse .navbar-nav .dropdown-menu li:not(:last-of-type):after {
  display: none;
}
.ccm-page {
    .navbar {
        &.default-basic {
            background-color: @navbar-default-bg;
            border: none;
            left: 0px;
            margin: 0px;
            min-height: 0px;
            position: -ms-device-fixed;
            position: fixed;
            right: 0px;
            top: 0px;
            z-index: @zindex-navbar-fixed;
            @media (min-width: @screen-sm-min) {
                .container;
                position: relative;
                z-index: 1;
            }
            /* Open navbar collapse definitions */
            &.open {
                background-color: @navbar-inverse-bg;
                .navbar-wrapper {
                    .navbar-wrapper-inner {
                        .navbar-header {
                            /*background-color: @navbar-open-bg;*/
                            .navbar-brand {
                                background-color: @navbar-inverse-brand-bg;
                                background-position: 0px -60px !important;
                                &:hover {
                                    background-color: @navbar-inverse-brand-hover-bg;
                                }
                            }
                        }
                    }
                }
            }

            /* Default navbar definitions */
            .navbar-wrapper {
                @media (min-width: @screen-sm-min) {
                    .row;
                }
                .navbar-wrapper-inner {
                    // Adjust or remove these bootstrap mixins.
                    @media (min-width: @screen-sm-min) {
                        .make-sm-column(12);
                    }
                    @media (min-width: @screen-md-min) {
                        .make-md-column(10);
                        .make-md-column-offset(1);
                    }
                    @media (min-width: @screen-lg-min) {
                        .make-lg-column(8);
                        .make-lg-column-offset(2);
                    }
                    .navbar-header {
                        /*background-color: @navbar-default-bg;*/
                        padding: 0 15px;
                        @media (min-width: @screen-sm-min) {
                            float: none;
                        }
                        .navbar-brand {
                            background: url(../../../images/xs-nav-sprite.svg) no-repeat;
                            background-color: @navbar-default-brand-bg;
                            background-position: 0px 0px;
                            height: @navbar-height;
                            margin: 0px;
                            padding: 0px;
                            width: 200px;
                            @media (min-width: @screen-sm-min) {
                                background-image: url(../../../images/logo-default.svg);
                                display: block;
                                float: none;
                                height: 80px;
                                margin: 25px auto 0 auto;
                                width: 135px;
                            }
                        }
                        .navbar-toggle {
                            background: url(../../../images/xs-nav-sprite.svg) no-repeat;
                            background-position: -202px 0px;
                            border: none;
                            height: 45px;
                            margin: 7px 0px 8px 0px;
                            width: 45px;
                            &.active {
                                background-position: -202px -45px;
                            }
                        }
                    }
                    .navbar-collapse {
                        border: none;
                        box-shadow: none;
                        -webkit-overflow-scrolling: touch;
                        overflow-x: hidden;
                        overflow-y: auto !important;
                        z-index: @zindex-navbar-fixed;
                        @media (min-width: @screen-sm-min) {
                            overflow: visible;
                            padding: 0px;
                            width: 100%;
                            z-index: 1;
                        }
                        &.centered {
                            ul {
                                li {
                                    a {
                                        text-align: center;
                                    }
                                    ul {
                                        padding: 0px;
                                    }
                                }
                            }
                        }
                        &.collapsing, &.in {
                            background-color: @brand-primary;
                            bottom: 0px;
                            left: 0px;
                            max-height: none;
                            position: -ms-device-fixed;
                            position: fixed;
                            right: 0px;
                            top: @navbar-height;
                        }
                        > ul {
                            > li {
                                > ul {
                                    > li {
                                        font-size: @navbar-link-font-size-children;
                                        ul {
                                            li {
                                                font-size: inherit;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            li {
                                font-size: @navbar-link-font-size-xs;
                                margin-bottom: 5px;
                                @media (min-width: @screen-sm-min) {
                                    font-size: @navbar-link-font-size;
                                    margin-bottom: 0px;
                                }
                                a {
                                    background-color: @navbar-inverse-link-bg;
                                    color: @navbar-inverse-link-color;
                                    display: block;
                                    &:active, &:focus, &:hover {
                                        background-color: @navbar-inverse-link-hover-bg;
                                        color: @navbar-inverse-link-hover-color
                                    }
                                    @media (min-width: @screen-sm-min) {
                                        background-color: @navbar-default-link-bg;
                                        color: @navbar-default-link-color;
                                        &:active, &:focus, &:hover {
                                            background-color: @navbar-default-link-hover-bg;
                                            color: @navbar-default-link-hover-color;
                                        }
                                    }
                                    &.active {
                                        background-color: @navbar-inverse-link-active-bg;
                                        color: @navbar-inverse-link-active-color;
                                        @media (min-width: @screen-sm-min) {
                                            background-color: @navbar-default-link-active-bg;
                                            color: @navbar-default-link-active-color;
                                        }
                                    }
                                    &.disabled {
                                        background-color: @navbar-inverse-link-disabled-bg;
                                        color: @navbar-inverse-link-disabled-color;
                                        @media (min-width: @screen-sm-min) {
                                            background-color: @navbar-default-link-disabled-bg;
                                            color: @navbar-default-link-disabled-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Navbar with animatable hamburger icon
        &.navbar-default-yelvaro {
            border: 0;
            @media screen and (max-width: @screen-xs-max) {
                position: fixed;
                top: @margin-base;
                left: 0;
                width: 100%;
                padding: 0 1.5rem;
                background-color: transparent;
                z-index: @zindex-navbar-fixed;
                pointer-events: none;
                &.open {
                    pointer-events: all;
                }
            }
            .navbar-toggle {
                margin: 0;
                padding: 1.5rem;
                background-color: rgba(255,255,255,0.9);
                display: flex;
                align-items: center;
                pointer-events: all;
                .transition(all 150ms ease);
                .toggle-icon {
                    .icon-bar {
                        width: 35px;
                        height: 2px;
                        border-radius: 0;
                        .transition(all 150ms ease);
                        &+.icon-bar {
                            margin-top: 8px;
                        }
                        &:nth-child(2) {
                            transform-origin: center;
                        }
                    }
                }
                .toggle-description {
                    float: left;
                    margin-right: 0.5em;
                }
                &.active {
                    background-color: rgba(255,255,255,1);
                    z-index: 1;
                    .toggle-icon {
                        .icon-bar {
                            &:nth-child(1) {
                                transform: translateY(10px) rotate(45deg);
                            }
                            &:nth-child(2) {
                                transform: scaleX(0);
                            }
                            &:nth-child(3) {
                                transform: translateY(-10px) rotate(-45deg);
                            }
                        }
                    }
                }
            }
            .navbar-collapse {
                border: 0;
                @media screen and (max-width: @screen-xs-max) {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    box-shadow: none;
                    background: #FFF;
                    box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 8px 48px rgba(0,0,0,0.1), 0 12px 96px rgba(0,0,0,0.075);
                }
                .navbar-nav {
                    margin: 1.5rem 0;
                    // Navigation float right
                    // @media screen and (min-width: @screen-xs-max) {
                    //     float: right;
                    // }
                    .dropdown-menu li:not(:last-of-type):after {
                      display: none;
                    }
                    li {
                        a {
                            padding: 0.5rem 1rem;
                            font-size: @font-size-base;
                            @media screen and (max-width: @screen-xs-max) {
                                font-size: (@font-size-base * 1.2);
                                padding: 1rem;
                            }
                            &:not(:last-of-type){
                                &:after {
                                    content: ' ';
                                    display: block;
                                    position: absolute;
                                    top: 12px;
                                    right: 0;
                                    width: 1px;
                                    height: 18px;
                                    background-color: @text-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        // Navbar with logo and logo/hamburger sprite in navbar-header and (opens to fullscreen)
        &.navbar-default-yelvaro-fullscreen {
            background-color: @navbar-default-bg;
            border: none;
            left: 15px;
            margin: 0 -15px;
            min-height: 0;
            position: -ms-device-fixed;
            position: fixed;
            right: 15px;
            top: 0;
            z-index: @zindex-navbar-fixed;
            @media (min-width: @screen-sm-min) {
                position: relative;
                z-index: 1;
            }
            &.open {
                background-color: @navbar-open-bg;
                .navbar-header {
                    background-position: center bottom;
                    .navbar-brand {
                        background-position: 0 -@navbar-height !important;
                    }
                }
            }
            .navbar-header {
                background: linear-gradient(to bottom, @navbar-default-bg 50%, @navbar-open-bg 50%);
                background-size: 100% 200%;
                background-position: center top;
                padding: 0 15px;
                .transition(background-position 200ms ease);
                @media (min-width: @screen-sm-min) {
                    height: auto;
                    float: none;
                    padding: 0;
                    width: 100%;
                }
                .navbar-toggle {
                    background: url(../../../images/xs-nav-sprite.svg) no-repeat;
                    background-position: -202px 0;
                    border: none;
                    height: 45px;
                    margin: 7px 0 8px 0;
                    width: 45px;
                    &.active {
                        background-position: -202px -45px;
                    }
                }
                .navbar-brand {
                    background: url(../../../images/xs-nav-sprite.svg) no-repeat;
                    background-position: 0 0;
                    height: @navbar-height;
                    margin: 0;
                    padding: 0;
                    width: 200px;
                    @media (min-width: @screen-sm-min) {
                        background-image: url(../../../images/logo-default.svg);
                        display: block;
                        float: none;
                        height: 75px;
                        width: 150px;
                    }
                }
            }
            .navbar-collapse {
                background-color: @brand-primary;
                border: none;
                box-shadow: none;
                -webkit-overflow-scrolling: touch;
                overflow-x: hidden;
                overflow-y: auto;
                z-index: @zindex-navbar-fixed;
                @media (min-width: @screen-sm-min) {
                    background-color: transparent;
                    overflow: visible;
                    padding: 0;
                    width: 100%;
                }
                &.collapsing, &.in {
                    left: 0;
                    max-height: none;
                    position: -ms-device-fixed;
                    position: fixed;
                    right: 0;
                    top: @navbar-height;
                    .navbar-collapse-wrapper {
                        height: calc(~"100vh - @{navbar-height}");
                    }
                }
                .navbar-nav {
                    margin: 0 -1em;
                    @media (max-width: @screen-xs-max) {
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                    }
                    @media (min-width: @screen-sm-min) {
                        width: 100%;
                    }
                    li {
                        a {
                            color: #fff;
                            font-size: (@font-size-base * 1.2);
                            line-height: inherit;
                            padding: 0.5em 1em;
                            text-align: center;
                            transition: 0.2s;
                            @media (min-width: @screen-sm-min) {
                                font-size: @font-size-base;
                                color: @link-color;
                                text-align: inherit;
                                &:hover {
                                    color: @link-hover-color;
                                }
                            }
                            &.active {
                                background-color: transparent;
                                color: tint(@brand-primary, 50%);
                                @media (min-width: @screen-sm-min) {
                                    color: @brand-primary;
                                }
                            }
                          }
                            &:not(:last-of-type){
                            &:after {
                                content: ' ';
                                display: block;
                                position: absolute;
                                top: 12px;
                                right: 0;
                                width: 1px;
                                height: 18px;
                                background-color: tint(@text-color, 50%);

                          }
                        }
                    }
                }
            }
        }

    }

    .nav-sidebar {
        li > a {
            padding: 0.5em 0;
        }
        > li > a {
            border-bottom: 1px solid @gray-lighter;
        }
        > li:first-child > a, ul + li {
            border-top: 1px solid @gray-lighter;
        }
        ul > li > a {
            padding: 0.25em 0;
            margin-left: 1em;
        }
        ul > li:first-child > a {
            padding-top: 0.5em;
        }
        ul > li:last-child > a {
            padding-bottom: 0.5em;
        }

    }
    .navbar-default-basic-spacer {
        /* Spacer element to avoid to need to remember to add additional space
         * for the fixed XS-navigation on top.
         * XS-navbars which scroll with the content do not need this element.
         */
        height: @navbar-height;
        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }
}

// Offset navbar-default-yelvaro(-fullscreen) when c5 toolbar is visible
@media screen and (max-width: @screen-xs-max) {
    html.ccm-toolbar-visible .navbar.navbar-default-yelvaro {
        top: calc(~"@{margin-base} + 48px");
    }
    html.ccm-toolbar-visible .navbar.navbar-default-yelvaro-fullscreen {
        top: 48px;
        .navbar-collapse.collapsing,
        .navbar-collapse.in {
            top: calc(~"@{navbar-height} + 48px");
            .navbar-collapse-wrapper {
                height: calc(~"100vh - @{navbar-height} - 48px");
            }
        }
    }
}

// Respect the c5 toolbar on the mobile navigation.
html.ccm-toolbar-visible {
    header {
        .navbar {
            &.default-basic {
                top: @ccm-toolbar-height;
                @media (min-width: @screen-sm-min) {
                    top: unset;
                }
                &.open {
                    .navbar-wrapper {
                        .navbar-wrapper-inner {
                            .navbar-collapse {
                                &.collapsing, &.in {
                                    top: calc(~"@{navbar-height} + @{ccm-toolbar-height}");
                                    @media (min-width: @screen-sm-min) {
                                        top: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
