//== Custom CSS
.ccm-page .ccm-block-share-this-page {
  .share-link {
    border: 0;
    height: 40px;
    width: 40px;
    .btn;
    .btn-primary;
    padding: 0px;
    svg {
      .cls-1 {
        fill: #fff;
      }
    }
  }
}