/*--------------------------------------------------------------*\
    Badges
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
@badge-color:                 #fff;
//** Linked badge text color on hover
@badge-link-hover-color:      #fff;
@badge-bg:                    @gray-light;
//** Badge text color in active nav link
@badge-active-color:          @link-color;
//** Badge background color in active nav link
@badge-active-bg:             #fff;
@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         10px;

//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/badges.less";

//== Custom CSS
.ccm-page span.badge {

}