//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                @gray-lighter;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @dropdown-border;

//** Dropdown link text color.
@dropdown-link-color:            @link-color;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      @link-hover-color;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         #fff;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;


//== Include Bootstrap dependencies
@import "../../bootstrap/dropdowns.less";

//== Custom CSS
.ccm-page {
    .dropdown-menu {
        border: none;
        -webkit-box-shadow: 0 10px 12px rgba(0,0,0,0.1);
        box-shadow: 0 10px 12px rgba(0,0,0,0.1);
        a {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
    .btn[data-toggle="dropdown"] {
        .caret {
            border: none;
            width: 1.8rem;
            height: 1rem;
            &:before {
                display: block;
                background: url(../../../images/select_icon.png) no-repeat;
                background-color: transparent;
                background-position: right top 50%;
                background-size: 1.8rem;
                width: 1.8rem;
                height: 1rem;
                content: " ";
            }
        }
    }
    .dropup .btn[data-toggle="dropdown"] {
        .caret {
            &:before{
              transform:rotate(180deg);
            }
        }
    }
}
