
//== Jumbotron
//
//##

@jumbotron-padding:              3rem;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));

//== Include Bootstrap dependencies
@import "../../bootstrap/jumbotron.less";