/*--------------------------------------------------------------*\
    Labels
\*--------------------------------------------------------------*/
//== Custom Variables

//== Bootstrap Variables
//** Default label background color
@label-default-bg:            @gray-light;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @brand-success;
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            @brand-warning;
//** Danger label background color
@label-danger-bg:             @brand-danger;

//** Default label text color
@label-color:                 #fff;
//** Default text color of a linked label
@label-link-hover-color:      #fff;


//== Include Bootstrap dependencies - DO NOT CHANGE!
@import "../../bootstrap/labels.less";

//== Custom CSS
.ccm-page .label {
  border-radius: @border-radius-base;
}
