//== Include Bootstrap dependencies
@import "../../bootstrap/media.less";

.ccm-page {
    .ccm-block-file {
        .media-left {
            padding-top: 3px;
        }
        a.media[href]:not(.btn) {
            border-bottom: none;
        }
        svg.media-object {
            path, line, polyline {
                fill: none;
                stroke: @text-color;
                stroke-width: 2
            }
        }
        p {
            margin: 0;
        }
        &:hover {
            svg.media-object {
                path, line, polyline {
                    stroke: @brand-primary;
                }
            }
        }
    }
}
