//== Pagination
//
//##

@pagination-color:                     @brand-primary;
@pagination-bg:                        #fff;
@pagination-border:                    @brand-primary;

@pagination-hover-color:               #fff;
@pagination-hover-bg:                  @brand-primary;
@pagination-hover-border:              @brand-primary;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @brand-primary;

@pagination-disabled-color:            #fff;
@pagination-disabled-bg:               @brand-primary;
@pagination-disabled-border:           @brand-primary;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @pagination-hover-bg;

@pager-active-bg:                      @pagination-active-bg;
@pager-active-color:                   @pagination-active-color;

@pager-disabled-color:                 @pagination-disabled-color;

//== Include Bootstrap dependencies
@import "../../bootstrap/pagination.less";
@import "../../bootstrap/pager.less";

//== Custom CSS
.ccm-page{
  .ccm-pagination-wrapper {
    text-align: center;
    min-height: 50px;
  }
  ul.pagination {
    li {
      a, span {
        min-width: 40px;
      }

    }
    li:not(.disabled) {
      &.active {
        a, span {
          color: #fff !important;
          background-color: @brand-primary !important;
          border-color: @brand-primary !important;
        }
      }
      a, span{
        padding: @padding-base-vertical @padding-base-horizontal !important;
        margin: 0px 5px;
        &:hover, &:active, &:focus {
          color: #fff !important;
          background-color: @brand-primary !important;
          border-color: @brand-primary !important;
        }
      }
      // dont show numbers on xs
      @media( max-width: @screen-xs-max){
        &:not(.next):not(.prev){
          display: none;
        }
      }
    }
    li.next{
      a, span{
        position: absolute;
        right: 10px;
      }
      // dont show disabled next button
      &.disabled{
        display: none;
      }
    }
    li.prev{
      a, span{
        position: absolute;
        left: 10px;
      }
      // dont show disabled prev button
      &.disabled{
        display: none;
      }
    }
    li.disabled {

    }
  }
}