//== Custom Variables
@scroll-to-top-color:           @brand-primary;
@scroll-to-top-color-hover:     darken(@brand-primary, 15%);
@scroll-to-top-bg:              rgba(255,255,255,0.85);
@scroll-to-top-bg-hover:        rgba(255,255,255,1);

//== Custom CSS

/* Behaves as a button-default */
#scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    overflow: hidden;
    z-index: 1000;
    padding: 1.25rem 1.5rem 0.75rem;
    background-color: @scroll-to-top-bg;
    border: none;
    .transition(all 150ms ease);
    svg {
        width: 2.25rem;
        height: 2.25rem;
        .arrow {
            stroke:  @scroll-to-top-color;
            fill: none;
            stroke-width: 1px;
        }
    }
    &:hover {
        background-color: @scroll-to-top-bg-hover;
        border: 1px solid @scroll-to-top-color-hover;
        svg .arrow {
            stroke: @scroll-to-top-color-hover;
        }
    }
}
