//== Custom Variables

//== Custom CSS
.ccm-page .searchResult {
  p > span, h3 > span, a > span {
    background-color: @highlighted-text-color !important;
  }
  .search_result_highlighted {
    background-color: @highlighted-text-color !important;
  }
}