//== Wells
//
//##

@well-bg:                     @gray-lighter;
@well-border:                 transparent;

//== Include Bootstrap dependencies
@import "../../bootstrap/wells.less";

.well {
    box-shadow: none;
}
